# fly.toml app configuration file generated for cv-poland-project on 2026-01-22T00:03:55+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'cv-poland-project'
primary_region = 'ams'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1
  processes = [ 'app' ]

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024
