# fly.toml app configuration file generated for cv-poland-project on 2026-01-25T18:28:09Z

app = 'cv-konwerter-bot'
primary_region = 'ams'

[build]
  dockerfile = "Dockerfile.bot"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[http_service.checks]]
  interval = "15s"
  timeout = "10s"
  grace_period = "30s"
  method = "GET"
  path = "/"

[vm]
  memory = '1gb'
  cpus = 1
