# fly.toml app configuration file for cv-poland-project
# Generated and corrected on 2026-01-23

app = 'cv-poland-project'
primary_region = 'ams'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024

[processes]
  app = "python bot.py"
